
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,body{
    height: 100%;
}
#root{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* width
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
} 


.search-bar ::placeholder {
    color: white;
  }
 
  .right-value{
    right: 11.2rem;
  }